* {
    margin: 0px;
    padding: 0px;
}

.loginBody,
.signupBody {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('./images/gta-5-cover.jpg');
    background-size: cover;
    background-position: center;
}

.login {
    color: white;
    padding: 40px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.login h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

.loginForm input {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: red;
    font-size: 15px;
}

.loginbtn {
    border: none;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    margin-bottom: 20px;
    font-size: 15px;
}

.loginbtn:hover {
    background-color: red;
    cursor: pointer;
}

.noAccount {
    display: flex;
    flex-direction: column;
}

.link {
    margin: 5px;
    color: white;
}

.link:hover {
    color: red;
}

.error {
    color: red;
    margin-top: 20px;
    margin-bottom: -10px;
}

@media (max-width: 768px) {
    .login {
        padding: 20px;
        width: 70%;
    }

    .login h1 {
        font-size: 2rem;
    }

    .loginForm input,
    .loginbtn {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .login h1 {
        font-size: 1.5rem;
    }

    .loginForm input,
    .loginbtn {
        font-size: 0.875rem;
        padding: 10px 8px;
    }
}