.welcomePage {
    height: 100vh;
    width: 99%;
}

.welcomePara {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px;
    width: 100%;
    height: 20vh;
    margin: auto;
}

.welcomePara p {
    font-size: 1.95vw;
    display: inline-block;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    opacity: 0;
}


.p1 {
    animation: typing 3s steps(76) 0s 1 forwards, blink 1s step-end 2s;
    animation-fill-mode: forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.p2 {
    animation: typing 3s steps(64) 3s 1 forwards, blink 1s step-end 5s;
    animation-fill-mode: forwards;
}

.p3 {
    animation: typing 3s steps(64) 6s 1 forwards, blink 1s step-end 8s;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0;
        opacity: 1;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes blink {
    from {
        border-right: 2px solid white;
    }

    to {
        border-right: 2px solid transparent;
    }
}


.red {
    color: red;
}

@keyframes dispCharacter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.startWithCharacter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 50px 20px 50px;
}

.startWithMichael,
.startWithFranklin,
.startWithTrevor {
    opacity: 0;
    animation: dispCharacter 3s 8s forwards;
    animation-fill-mode: forwards;
    background-size: cover;
    height: 370px;
    margin-top: 20px;
    width: 200px;
    border: none;
    border-radius: 50%;
}

.startWithMichael {
    background-image: url('./images/michael2.jpg');
    background-position: center;
}

.startWithFranklin {
    background-image: url('./images/frankiln2.jpg');
    background-position: center;
}

.startWithTrevor {
    background-image: url('./images/trevor2.jpg');
    background-position: center;
}

.startWithMichael:hover,
.startWithFranklin:hover,
.startWithTrevor:hover {
    border-radius: 0px;
}

.GTA5Trailer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    z-index: -100;
}

@media (min-width: 1330px) {
    .welcomePara {
        font-size: 30px;
    }

}

@media (max-width: 768px) {
    .welcomePara {
        font-size: 1rem;
    }

    .startWithCharacter {
        flex-direction: column;
    }

    .startWithMichael,
    .startWithFranklin,
    .startWithTrevor {
        height: 280px;
        width: 40%;
    }
}

@media (max-width: 480px) {
    .welcomePara {
        font-size: 0.5rem;
    }

    .startWithCharacter {
        flex-direction: column;
    }

    .startWithMichael,
    .startWithFranklin,
    .startWithTrevor {
        height: 150px;
        width: 40%;
    }
}