* {
  margin: 0px;
  padding: 0px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  width: 22%;
  height: 100vh;
  text-align: center;
  transition: all 0.3s;
}
.sidebarlight{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.sidebarlight .sideFranklin:hover, .sidebarlight .sideMichael:hover, .sidebarlight .sideTrevor:hover{
  border: 4px solid rgb(222, 222, 222);
}
.sidebarlight .logoutBtn{
  border: 1px solid black;
}

.logoutBtn {
  width: 40%;
  height: 30px;
  border: none;
  cursor: pointer;
}
.logoutBtn:hover {
  background-color: red;
}

.main {
  display: flex;
  flex-direction: row;
  background-image: url('./images/gta-map.png');
  background-position: 40% 85%;
}

.input-chat {
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  padding-top: 19px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.michaellight .input-chat, .franklinlight .input-chat, .trevorlight .input-chat{
  background-color: rgba(255, 255, 255, 0.3);
}

.input-chat input {
  width: 85%;
  height: 100%;
  color: black;
  border: 1px solid black;
}
.input-chat button {
  height: 100%;
  width: 5%;
  border: 1px solid black;
  cursor: pointer;
}
.input-chat button:hover {
  background-color: red;
}
.send{
  border: none;
  font-size: 25px;
  color: black;
  background-color: white;
}

.main-chat-box {
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 78vh;
  overflow-x: hidden;
  overflow-y: auto;
  
  scroll-behavior: smooth;
}

.prompt-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
  border-radius: 2px;
  width: fit-content;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  float: right;
  text-align: left;
}
.michaellight .prompt-box, .franklinlight .prompt-box, .trevorlight .prompt-box{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.reply-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
  margin: 5px;
  margin-left: 10px;
  margin-right: 100%;
  padding: 5px;
  border-radius: 2px;
  width: 70%;
  float: left;
}
.michaellight .reply-box, .franklinlight .reply-box, .trevorlight .reply-box{
  background-color: rgba(255, 255, 255, 0.8);
}

.michael, .franklin, .trevor {
  width: 100%;
  height: 100vh;
}

.legends {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-right: 15px;
}

.legends button {
  height: 130px;
  border: none;
  cursor: pointer;
}

.sideFranklin {
  background-image: url("images/franklin.png");
  background-size: cover;
  border-radius: 5px;
  opacity: 0.25;
}
.sideFranklin:hover {
  border: 4px solid rgb(33, 33, 33);
  border-radius: 8px;
  opacity: 0.5;
}
.sideMichael {
  background-image: url("images/michael.png");
  background-size: cover;
  border-radius: 5px;
  opacity: 0.25;
}
.sideMichael:hover {
  border: 4px solid rgb(33, 33, 33);
  border-radius: 8px;
  opacity: 0.5;
}
.sideTrevor {
  background-image: url("images/trevor.png");
  background-size: cover;
  border-radius: 5px;
  opacity: 0.25;
}
.sideTrevor:hover {
  border: 4px solid rgb(33, 33, 33);
  border-radius: 8px;
  opacity: 0.5;
}

.sidebarHeading {
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.sidebar h1 {
  margin-top: 5px;
  margin-bottom: -10px;
}

.closeSidebar, .openSidebar {
  font-size: 30px;
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
}
.closeSidebar {
  position: absolute;
  right: 0px;
  top: 10px;
}
.openSidebar {
  position: absolute;
  left: 0px;
  top: 10px;
}

.michaelHeading, .franklinHeading, .trevorHeading {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 900;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.michaellight .michaelHeading, .franklinlight .franklinHeading, .trevorlight .trevorHeading{
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.MichaelDP {
  background-image: url('./images/michaelDP.jpeg');
  border-radius: 50%;
  margin-right: 5px;
  background-size: cover;
  height: 45px;
  width: 45px;
}
.FranklinDP {
  background-image: url('./images/franklinDP.jpeg');
  border-radius: 50%;
  margin-right: 5px;
  background-size: cover;
  height: 45px;
  width: 45px;
}
.TrevorDP {
  background-image: url('./images/trevorDP.jpeg');
  border-radius: 50%;
  margin-right: 5px;
  background-size: cover;
  height: 45px;
  width: 45px;
}

.SelectedMichael .sideMichael {
  border-radius: 8px;
  opacity: 1;
}
.SelectedFranklin .sideFranklin {
  border-radius: 8px;
  opacity: 1;
}
.SelectedTrevor .sideTrevor {
  border-radius: 8px;
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .sidebar {
    width: 30%;
    height: 100vh;
  }

  .main-chat-box{
    height: 80vh;
  }

  .input-chat input {
    width: 70%;
  }
  
  .input-chat button {
    width: 14%;
  }

  .closeSidebar{
    position: absolute;
    top: 40px;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 45%;
    height: 100vh;
  }

  .input-chat input {
    width: 65%;
  }

  .input-chat button {
    width: 16%;
  }

  .prompt-box, .reply-box {
    max-width: 80%;
  }

  .closeSidebar, .openSidebar {
    left: 0px;
    font-size: 30px;
  }
  .closeSidebar{
    position: absolute;
    top: 40px;
    left: 10%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    height: 100vh;
    position: static;
  }

  .main {
    flex-direction: column;
  }
  
  .michael, .franklin, .trevor{
    padding-left: 0px;
  }

  .sidebarHeading, .legends, .logoutBtn {
    font-size: 20px;
  }

  .input-chat {
    flex-direction: column;
    align-items: center;
  }

  .input-chat input, .input-chat button {
    width: 90%;
    margin: 5px 0;
  }

  .prompt-box, .reply-box {
    max-width: 90%;
  }

  .closeSidebar, .openSidebar {
    position: relative;
    font-size: 40px;
  }
  .closeSidebar{
    position: absolute;
  }
  .openSidebar{
    position: absolute;
    top: -5px;
    left: 50%;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.lightMode, .darkMode{
  font-size: 30px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.lightMode{
  background-image: url('./images/sun.png');
  background-size: cover;
  top: 13px;
}
.darkMode{
  color: white;
}